<div>
    <button class="btn-rojo"
            (click)="imgUrl = 'https://images.pexels.com/photos/16948623/pexels-photo-16948623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">Image 1</button>
    <button class="btn-azul"
            (click)="imgUrl = 'https://images.pexels.com/photos/16578958/pexels-photo-16578958/free-photo-of-retrato-de-la-calle.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">Image 2</button>
</div>

<img [src]="imgUrl" alt="No display img">
















<!-- <div [ngClass]="{
    'hidden': active
}">
    <button class="btn-rojo"
            [ngClass]="{
                'hidden': active
            }"
            (click)="changeClass('txt-rojo')">
            Color Rojo
    </button>
    
    <button class="btn-verde"
            [ngClass]="{
                'hidden': active
            }"
            (click)="changeClass('txt-verde')">
            Color Verde
    </button>
    
    <button class="btn-azul"
            [ngClass]="{
                'hidden': active
            }"
            (click)="changeClass('txt-azul')">
            Color Azul
    </button>
</div>

<p [ngClass]="textColor">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero maxime perferendis cupiditate assumenda quisquam itaque, et dolores ducimus non ad nulla, doloremque facilis tenetur, expedita modi illo inventore aut quidem?</p>

<button (click)="activeButtons()"> 
    {{ active ? 'Activar' : 'Desactivar'}}
</button> -->
