<div *ngIf="miFormulario">

</div>

<div class="card mx-auto mt-5" style="width: 25rem;">
    <div class="card-body">
        
        <form (ngSubmit)="guardar()" #miFormulario="ngForm">

            <!-- Nombre -->   
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" 
                    placeholder="Ingrese su nombre"
                    class="form-control"
                    [(ngModel)]="persona.nombre"
                    name="nombre"
                    required
                    minlength="5"
                    #name="ngModel">

                <!-- Mensaje de validación para valor requerido -->
                <div *ngIf="(name?.errors?.['required'] && name.touched) || (name.touched && name.value.trim().length < 1)"
                        class="alert alert-danger mt-2">
                    El nombre es obligatorio, no puede estar vacío
                </div>

                 <!-- Mensaje de validación para longitud del nombre -->
                <div *ngIf="(name?.errors?.['minlength'] && name.touched)"
                        class="alert alert-danger mt-2">
                    El nombre debe tener una longitud mínimo de 5 carácteres
                </div>
            </div>
        
            <!-- Edad -->
            <div class="form-group">
                <label>Edad:</label>
                <input type="number" 
                    placeholder="Ingrese su edad"
                    name="edad"
                    class="form-control"
                    [(ngModel)]="persona.edad"
                    required
                    min="18"
                    #age="ngModel">
                
                <!-- Mensaje para valor de edad requerido -->
                <div *ngIf="age?.errors?.['required'] && age.touched"
                        class="alert alert-danger mt-2">
                    La edad es obligatoria
                </div>

                <!-- Mensaje para valor minimo de edad -->
                <div *ngIf="age?.errors?.['min'] && age.touched"
                        class="alert alert-danger mt-2">
                    La edad debe ser mínimo de 18 años
                </div>
            </div>

            <button class="btn btn-primary float-end mt-3"
                    [disabled]="miFormulario.invalid">
                Guardar
            </button>

        </form>

    </div>
</div>

<hr>
<pre> Valor: {{ miFormulario.value | json }} </pre>
<pre> Valid: {{ miFormulario.valid | json }} </pre>